<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


       <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">

              <property name="dataSource" ref="dataSource" />

              <property name="packagesToScan">
                     <list>
                            <value>com.zeven.course.model</value><!-- 扫描实体类-->
                     </list>
              </property>

              <property name="hibernateProperties">
                     <props>
                            <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</prop>
                            <prop key="hibernate.hbm2ddl.auto">update</prop>
                            <prop key="hibernate.show_sql">true</prop>
                            <prop key="hibernate.format_sql">true</prop>
                     </props>
              </property>

       </bean>

       <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
              <property name="driverClassName" value="com.mysql.jdbc.Driver" />
              <property name="url" value="jdbc:mysql://localhost:3306/stu_grade" />
              <property name="username" value="root" />
              <property name="password" value="" />
       </bean>

       <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
              <property name="sessionFactory" ref="sessionFactory" />
       </bean>

       <!-- 配置事务异常封装 -->
       <bean id="persistenceExceptionTranslationPostProcessor"
             class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />

</beans>